@import "@fontsource/inter";
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

 body {
  margin: 0;
  min-height: 00vh;
  background-image: url("");
  background-color: #fff4e5;
   
} 


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
}

.shake-hover:hover {
  animation: shake 0.35s ease-in-out;
}


